### Homework: Chapter 7

A list in Python can be defined as a structure that allows for the storage or replication of items or numbers.

In [9]:
my_list = [1, 2, 3, 4, 5]
my_list[2]

3

In [12]:
my_list.extend("new_item")
my_list

[1,
 2,
 3,
 4,
 5,
 'n',
 'e',
 'w',
 '_',
 'i',
 't',
 'e',
 'm',
 'n',
 'e',
 'w',
 '_',
 'i',
 't',
 'e',
 'm']

In [13]:
tuple1 = "apple", "banana", "cherry"
tuple1

('apple', 'banana', 'cherry')

In [14]:
tuple1[0]
tuple1

('apple', 'banana', 'cherry')

In [15]:
my_dict = {"name": "John", "age": 36}
my_dict

{'name': 'John', 'age': 36}

In [16]:
my_dict["name"]
my_dict

{'name': 'John', 'age': 36}

In [17]:
my_dict["age"] = 40
my_dict

{'name': 'John', 'age': 40}

In [18]:
my_dict["city"] = "New York"
my_dict

{'name': 'John', 'age': 40, 'city': 'New York'}

In [19]:
my_set = {"apple", "banana", "cherry"}
my_set

{'apple', 'banana', 'cherry'}

In [20]:
my_set.add("orange")
my_set

{'apple', 'banana', 'cherry', 'orange'}

In [21]:
my_set.remove('banana')
my_set

{'apple', 'cherry', 'orange'}

In [22]:
my_list = [1, 2, 3, 4, 5]
len(my_list)

5

In [23]:
my_list = [1, 2, 3]
my_list * 2

[1, 2, 3, 1, 2, 3]

In [24]:
set( [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] )

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}